@import "./_variables.scss";

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: $c_secondary;
}

body {
  font: 18px $font;
  color: $c_dark;
  background-color: $c_secondary-light;
}
a {
  color: inherit;
}
.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: min(1440px, 100vw);
  margin: auto;
  box-sizing: border-box;
  @include pad {
    flex-wrap: wrap;
  }
}

// display-flex
.df {
  &-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
// font-size
.fz {
  &-xxl {
    font-size: min(2rem, 7vw);
    font-weight: bold;
    padding-bottom: 0.2rem;
  }
  &-xl {
    font-size: 1.6rem;
    font-weight: bold;
  }
  &-md {
    margin: 1.5rem 0;
    font-size: 1.3rem;
    font-weight: bold;
  }
  &-sm {
    font-size: 1.1rem;
  }
}
// color
.c {
  &-main {
    color: $c_main;
  }
  &-sce {
    color: #3fb195;
  }
  &-res {
    color: #ff9999;
  }
  &-htl {
    color: #a79bfd;
  }
  &-act {
    color: #feb155;
  }
}
// border-radius
.bdrs {
  &-xl {
    border-radius: 1rem;
    overflow: hidden;
  }
  &-sm {
    border-radius: 0.5rem;
    overflow: hidden;
  }
}
// shadow
.shadow {
  box-shadow: 0px 0px 1.5rem #00000019;
}
