@import "./_reset.scss";
@import "./_variables.scss";

body {
  font: 16px $font;
  color: $c_dark;
  background-color: $c_secondary-light;
}
.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: min(1200px, 95vw);
  margin: auto;
  box-sizing: border-box;
  @include pad {
    flex-wrap: wrap;
  }
}
