@import "./_variables.scss";

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: $c_secondary;
}
body {
  font: 16px $font;
  color: $c_dark;
  background-color: $c_secondary-light;
}
.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: min(1440px, 100vw);
  margin: auto;
  box-sizing: border-box;
  @include pad {
    flex-wrap: wrap;
  }
}
.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d-flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner {
  width: 100%;
  height: min(300px, 40vw);
  background-color: $c_light;
  border-radius: 1rem;
  box-shadow: 0px 0px 1.5rem #00000011;
  overflow: hidden;
  & > img {
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: cover;
  }
}

.title {
  &-2 {
    font-size: min(2rem, 5vw);
    font-weight: bold;
    padding-bottom: 0.2rem;
  }
  &-3 {
    font-size: 1.6rem;
    font-weight: bold;
  }
  &-4 {
    font-size: 1.3rem;
    font-weight: bold;
  }
  &-5 {
    font-size: 1.1rem;
  }
}

.t- {
  &main {
    color: $c_main;
  }
  &sce {
    color: #3fb195;
  }
  &res {
    color: #ff9999;
  }
  &htl {
    color: #a79bfd;
  }
  &act {
    color: #feb155;
  }
}
