@mixin pad {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}
@font-face {
  font-family: NotoSans;
  src: url(./assets/fonts/NotoSans.woff2);
}

$font: "NotoSans", Arial, sans-serif;
$c_dark: #2c2c2c;
$c_light: #ffffff;
$c_danger: #b72323;
$c_warning: #ffc61a;
$c_info: #5d5fef;
$c_scenic: #a4c9e8;
$c_restaurant: #f79856;
$c_hotel: #fe9fab;
$c_activity: #803824;
$c_secondary: #c8c8c8;
$c_secondary-light: #f1f1f1;
$c_secondary-dark: #707070;
