@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;700&display=swap");

@mixin pad {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}
:root {
  --c-main: #3fb195;
}
$font: "Noto Sans TC", Arial, sans-serif;
$c_main: var(--c-main);
$c_ScenicSpot: #3fb195;
$c_Restaurant: #ff9999;
$c_Hotel: #64c5e3;
$c_Activity: #feb155;
$c_dark: #2c2c2c;
$c_light: #ffffff;
$c_secondary: #c8c8c8;
$c_secondary-light: #fafafa;
$c_secondary-dark: #707070;
